name: Test

on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Run Tests
        env:
          NodeUptime_Headless__JwtIssuer: ${{ secrets.JwtIssuer }}
          NodeUptime_Headless__JwtSecretKey: ${{ secrets.JwtSecretKey }}
          NodeUptime_PagerDuty__Enabled: true
          NodeUptime_PagerDuty__RoutingKeys__Odin: ${{ secrets.OdinRoutingKey }}
          NodeUptime_PagerDuty__RoutingKeys__Heimdall: ${{ secrets.HeimdallRoutingKey }}
          NodeUptime_PagerDuty__RoutingKeys__Thor: ${{ secrets.ThorRoutingKey }}

        run: |
          dotnet restore node-uptime.sln
          dotnet test node-uptime.sln
